---
layout: default
title: Home
---

<div class="container blog">
    <!-- the latest post -->
    <main>
        <section>
        {% for post in site.posts limit:1 %}
          <h1>{{ post.title }}</h1>
         <span>By {{post.author}} | Published on {{ post.date | date_to_string }} </span> 
        </section>
        {{ post.content }}
        {% endfor %}
    </main>
    
    <!-- shows the last 10 posts, feel free to increment or remove that limit altogether -->
    <aside>
        <h3>Recent Posts</h3>
        <ul>
        {% for post in site.posts limit:10 %}
          <li><a href="{{post.url}}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <a href="/archive/">All posts</a>
    </aside>
</div>